@use '../../../styles/index.scss' as *;

.container {
  background-color: colors(white);
  height: auto;
  margin: 0 auto;
  max-width: base(82);
  padding: spacing(medium);
  width: auto;

  @include queries(sm) {
    padding: base(2.5);
  }
}
