@use './sizes.module.scss' as *;
@use 'sass:map';

$breakpoints: (
  xs: 30rem,
  sm: 48rem,
  md: 62rem,
  lg: 75rem,
  xl: 100rem,
);

@mixin queries($breakpoint) {
  @media only screen and (max-width: map.get($breakpoints, $breakpoint)) {
    @content;
  }
}